@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html,
body {
  background-color: #000;
}

.bounce-icon {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 13px;
  height: 13px;
}

.bounce-icon span {
  width: 3px;
  height: 100%;
  background-color: #f18336;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 3px;
  transform-origin: bottom;
  @apply animate-bounceBars;
  content: "";
}

.bounce-icon span:nth-of-type(2) {
  animation-delay: -2.2s;
}

.bounce-icon span:nth-of-type(3) {
  animation-delay: -3.7s;
}

.swiper-container {
  width: 480px;
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}

:root {
  --swiper-pagination-color: linear-gradient(to right, #f18336, #d12b2d);
  --swiper-pagination-bullet-size: 14px;
  --swiper-pagination-bullet-inactive-color: #efefef;
  --swiper-pagination-bullet-inactive-opacity: 0.3;
}

/* Scroolbar */

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #e3e3e3;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#f18336, #d12b2d);
  border-radius: 4px;
}

/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
